<div class="row">
  <div class="col-lg-6 col-sm-12">
    <h1 style="text-align: center; padding: 250px;"><b>ZENESS</b></h1>
  </div>


<div class="col-lg-6 col-sm-12">
 <form>
   <div class="row">
    <div class="col-lg-6 col-sm-12">
      <input type="email" class="form-control" id="txt_email" name="txt_email" placeholder="Register Email ID">
    </div>
   </div>

   <div class="row">
     <div class="col-lg-6 col-sm-12">
      <input type="password" class="form-control" id="txt_pass" name="txt_pass" placeholder="Password">
     </div>
   </div>

   <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="remember"> Remember me
      </label>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Login</button>
  </form>
</div>
</div>
